body {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#weather-container {
  margin-top: 50px;
  justify-content: space-around;
}
#fullapp {
    min-width:40vw;
    min-height: 40vh;
    padding: 20px;
    box-shadow:  rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 15px;
    font-family: cursive;
  color: rgba(14, 60, 76, 0.96);
  -webkit-transition: background-color 2s linear;
   
  transition: background-color 2s linear;
  -webkit-transition: background-image 2s linear;
 
  transition: background-image 2s linear;



}

#fullapp h3{
  color: rgba(14, 60, 76, 0.76);
}
.heading{
    font-weight:bolder;
    font-size: 2.2em;
}
.labels{
 display:flex;
 margin-left: 6vw;
 justify-content:flex-start ;

  position:relative
}
.location-label{
  font-weight:bolder;
  font-size: 1em;
  background-color: rgba(255, 255, 255,.15);
  padding: 3px;;
  font-family: cursive;
  margin-bottom: 4px;
  
  color: #184364;

}
#location
{
border:none;
outline: none;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  min-height:3em ;
  min-width: 18vw;
  border-radius: 15px;
  padding-left: 10px;
  padding-right:10px;
  font-size:1em ;
  font-family: cursive;
  background: #F6F9FE;
  opacity:0.9;

}
#location :active{
  background: #F6F9FE;
  opacity:1;
}
#location :hover{
  background-color: #fff;
  opacity:1;
}
#location :focus{
  background: #F6F9FE;
  opacity:1;
}




/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  opacity:0.7;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #274c69;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 900;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  
  margin:4px;
  max-width: 100%;
  overflow: visible;
  padding: 0px 12px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
  opacity:1;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
  opacity:1;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.dataShow
{ width:100%;
  display:grid;
  grid-template-columns: auto auto auto;
  font-family: cursive;
  /* justify-content: space-evenly; */
}
.dataShow span{
  font-size:1.2em;
  color: #0a2c63;
}
.weathericon{
  width: 100px;
  height: 100px;
  
  
}
 .temp
{

 
  border:#184364;
  border-style: solid;
  border-width: 0px 2px 0px 0px;
  padding: 0 2vw;

  
}


/* bg colors acc to weather */
.clear-sky {
  background-image: url("clear_sky.jpeg");
  background-repeat: no-repeat;
  background-size:cover; /* Sky Blue */
}
.sunny{
  background-image: url("sunny.jpg");
  background-repeat: no-repeat;
  background-size:cover; 
}

.few-clouds {
  background-image: url("partlycloudy.jpg");
    background-repeat: no-repeat;
    background-size:cover;; /* Light Sky Blue */
}

.scattered-clouds,
.broken-clouds {
  background-image: url("scattered.jpg");
  background-repeat: no-repeat;
  background-size:cover; 
}

.patchy-rain-nearby,
.patchy-rain,
.shower-rain,
.rain {
  background-image: url("rain.jpg");
    background-repeat: no-repeat;
    background-size:cover; 
}

.thunderstorm {
  background-image: url("thunder.jpg");
  background-repeat: no-repeat;
  background-size:cover;  /* Slate Gray */
}

.snow
{
  background-image: url("snow.jpg");
    background-repeat: no-repeat;
    background-size:cover; /* Lemon Chiffon */
    
}

.mist {
  background-image: url("fog.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    /* Light Gray */
}
.mist {
  background-image: url("fog.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    /* Light Gray */
}

.normal{
    /* background-image: linear-gradient(#dda0dd,#ba55d3);  */
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
   
    -webkit-transition: background-color 2s linear;
   
    transition: background-color 2s linear;
    -webkit-transition: background-image 2s linear;
   
    transition: background-image 2s linear;
}

